version: "3.7"
services:
  jenkins:
    build: .
    image: dan05011991/jenkins:latest
    privileged: true
    ports:
      - "8443:8443"
      - "50000:50000"
    volumes:
      - ./certs/server.crt:/var/lib/jenkins/cert
      - ./certs/server.key:/var/lib/jenkins/pk
      - ./certs/keystore.jks:/var/lib/jenkins/keystore
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins
volumes:
  db-data:
networks:
  jenkins:
